* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#rootContainer{
    min-height: 100%;
    position: relative; /* must be relative so that inner elements can arranged accordingly */
}

#container {
    position: absolute;
    padding: 8px;
    height: 100%;
    width: 100%;
}

#header {
    padding: 8px;
    height: 80px;

    border: 1px solid;
    border-radius: 2px;
}
#content {
    padding: 8px;
    margin: 8px 0;
    height: calc(100% - 156px);

    /* Calculation of height

    Note: we have set box-sizing; border-box for all components
          so padding, margin are part of the component dimension.

    #container padding top & bottom = 8px + 8px = 16px
    #header height = 80
    #footer height = 60

    total = 156px;

    */
    overflow-y: auto;

    border: 1px solid;
    border-radius: 2px;

}
#footer {
    width: 100%;
    height: 60px;
    /*padding: 8px;  No Padding at footer. Apply padding if required to the child elements. */

    border: 1px solid;
    border-radius: 2px;
}

